 <div>
    <h1><%= @event.title %></h1>
  </div>
  <div>
    <p>
      <%= @event.description %><br>
      This event will start at <%= @event.date %>
    </p>

    <h1>Attendees</h1>
    <h2>Names</h2>
    <% @event.attendees.each do |attendee| %>
        <h5><%= attendee.username %> <br></h5>
    <% end %>
  </div>